<!-- <% extend('../master') %> -->
<!-- File home kết thừa từ master (thừa kế mọi css và js từ master) -->
<div class="container-fluid">
    <div class="row content">
       <%- include('sections/leftSide'); %>
      

       <%- include('sections/rightSide'); %>
      
    </div>
</div>